# packaging
pip>=9
setuptools>=26
twine
wheel>=0.29

# data science
numpy
pandas
scikit-learn
scipy

# tests/linter
black
coverage
flake8
pytest
yapf

# API
gcsfs
google-cloud-storage
mlflow
s3fs
google-colab

# utilities
six>=1.14
joblib
memoized-property
termcolor
os
IPython
base64
io

#speech2text
sox
librosa
deepspeech
wave
soundfile
ffmpeg
portaudio
pyaudio
