# packaging
pip>=9
setuptools>=26
twine
wheel>=0.29

# data science
numpy
pandas
scikit-learn
scipy

# tests/linter
black
coverage
flake8
pytest
yapf

# API
gcsfs
google-cloud-storage
mlflow
s3fs
google-colab

# utilities
six
joblib
memoized-property
termcolor
IPython

#speech2text
sox
librosa
deepspeech
#wave==0.0.2
soundfile
ffmpeg
pyaudio
